/* Reset CSS */
* {
   margin: 0; /* MARGEM EXTERNA */
   padding:0;
   box-sizing: border-box;
}

body {
    background: #bbbbbb; /* COR FUNDO */
}

header {
    /* FLEXBOX */
    display: flex;
    justify-content: space-between; /* Eixo X */
    align-items: center;  /* EIXO Y */
    width: 100%;  /* Largura TOTAL p/ todos Dispositos */
    padding: .5rem 1rem;
    border-bottom: 1px solid #000;
    position: fixed;
}

/* nav */
.menu-desktop {
    display: none;
}

/* ul */
.menu {
    display: flex;
    list-style: none;
    gap: 1.2rem;
}

/* a href */
.text-link {
    text-decoration: none;
}

.menu-text {
    text-transform: uppercase;
}




















/* Responsividade */
/* A partir de 768 */
@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
    }
}